.between-rounds-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  --default-duration: 1.5s; }
  .between-rounds-container > * {
    position: absolute;
    color: white;
    font-size: 32px;
    max-width: 210px;
    width: 210px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
  .between-rounds-container .show-first {
    animation: fadeOut var(--default-duration) forwards; }
  .between-rounds-container .show-second {
    opacity: 0;
    animation: fadeIn var(--default-duration) forwards var(--default-duration), fadeOut var(--default-duration) forwards 3s; }
  .between-rounds-container .show-third {
    opacity: 0;
    animation: fadeIn 1.5s forwards 4.5s, fadeOut var(--default-duration) forwards 6s; }
  .between-rounds-container .large-text {
    font-size: 60px; }
