.current-word-border {
  border: 4px dashed rgba(157, 243, 249, 0.5);
  box-sizing: border-box;
  border-radius: 27px;
  padding: 12px;
  margin-bottom: 8px;

  &.countdown10 {
    border-color: salmon;
    transition: border-color 10s;
  }
}
.current-word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px dashed rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 8px;
  color: white;

  &.has-word {
    border: none;
    background-color: var(--action-highlight);
    color: black;
  }

  position: relative;
  height: 100px;
  > * {
    position: absolute;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --default-duration: 1.5s;
  .show-first {
    color: white;
    animation: fadeOut var(--default-duration) forwards;
  }

  .show-second {
    color: white;
    opacity: 0;
    animation: fadeIn var(--default-duration) forwards var(--default-duration),
      fadeOut var(--default-duration) forwards 3s;
  }

  .show-third {
    opacity: 0;
    animation: fadeIn 1.5s forwards 4.5s;
    background-color: var(--action-highlight);
  }
}

.next-word {
  background-color: white;
}
