.winners {
  font-family: Bangers, sans-serif;
  font-size: 48px; }

.medal {
  font-size: 60px;
  display: block;
  margin-bottom: 24px; }

.finished-game-container {
  position: relative; }
  .finished-game-container > h2 {
    font-family: Hind, sans-serif;
    font-size: 24px; }

.confetti-animation-container {
  position: absolute;
  width: 300px;
  height: 230px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0); }

.confetti-0 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 70%;
  opacity: 0.97647;
  transform: rotate(63.97684deg);
  animation: drop-0 4.56469s 0.28741s infinite; }

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 80%; } }

.confetti-1 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 94%;
  opacity: 0.96005;
  transform: rotate(76.61617deg);
  animation: drop-1 4.44736s 0.46421s infinite; }

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 105%; } }

.confetti-2 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 26%;
  opacity: 1.46435;
  transform: rotate(40.63997deg);
  animation: drop-2 4.70617s 0.52888s infinite; }

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 40%; } }

.confetti-3 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 12%;
  opacity: 1.18762;
  transform: rotate(102.90336deg);
  animation: drop-3 4.46214s 0.61564s infinite; }

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 27%; } }

.confetti-4 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 73%;
  opacity: 0.54307;
  transform: rotate(149.86602deg);
  animation: drop-4 4.12553s 0.05036s infinite; }

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 86%; } }

.confetti-5 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 46%;
  opacity: 0.97811;
  transform: rotate(21.94648deg);
  animation: drop-5 4.76576s 0.96059s infinite; }

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 56%; } }

.confetti-6 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 67%;
  opacity: 1.27524;
  transform: rotate(43.66983deg);
  animation: drop-6 4.62541s 0.35865s infinite; }

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 72%; } }

.confetti-7 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 4%;
  opacity: 1.23136;
  transform: rotate(102.47184deg);
  animation: drop-7 4.5798s 0.46807s infinite; }

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 13%; } }

.confetti-8 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 48%;
  opacity: 1.32726;
  transform: rotate(187.2445deg);
  animation: drop-8 4.87338s 0.86126s infinite; }

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 62%; } }

.confetti-9 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 9%;
  opacity: 0.86171;
  transform: rotate(252.68327deg);
  animation: drop-9 4.25189s 0.99967s infinite; }

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 22%; } }

.confetti-10 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 93%;
  opacity: 1.46969;
  transform: rotate(18.88789deg);
  animation: drop-10 4.1938s 0.63639s infinite; }

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 103%; } }

.confetti-11 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 0.55831;
  transform: rotate(331.75356deg);
  animation: drop-11 4.6526s 0.1226s infinite; }

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 75%; } }

.confetti-12 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 33%;
  opacity: 0.52058;
  transform: rotate(281.78972deg);
  animation: drop-12 4.21475s 0.95817s infinite; }

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 46%; } }

.confetti-13 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 1.12285;
  transform: rotate(243.39906deg);
  animation: drop-13 4.57659s 0.96715s infinite; }

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 66%; } }

.confetti-14 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 70%;
  opacity: 1.43116;
  transform: rotate(244.9813deg);
  animation: drop-14 4.69611s 0.26838s infinite; }

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 73%; } }

.confetti-15 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 0.94991;
  transform: rotate(143.48239deg);
  animation: drop-15 4.01559s 0.07357s infinite; }

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 81%; } }

.confetti-16 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 38%;
  opacity: 0.54941;
  transform: rotate(319.46557deg);
  animation: drop-16 4.02967s 0.67874s infinite; }

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 41%; } }

.confetti-17 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 0.90957;
  transform: rotate(277.05449deg);
  animation: drop-17 4.91311s 0.51995s infinite; }

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 63%; } }

.confetti-18 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 21%;
  opacity: 0.80294;
  transform: rotate(156.98999deg);
  animation: drop-18 4.31648s 0.38288s infinite; }

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 27%; } }

.confetti-19 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 79%;
  opacity: 0.98678;
  transform: rotate(134.98569deg);
  animation: drop-19 4.81141s 0.88138s infinite; }

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 80%; } }

.confetti-20 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 29%;
  opacity: 0.74537;
  transform: rotate(20.43161deg);
  animation: drop-20 4.39224s 0.86649s infinite; }

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 30%; } }

.confetti-21 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 24%;
  opacity: 1.02696;
  transform: rotate(251.58759deg);
  animation: drop-21 4.49757s 0.75706s infinite; }

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 30%; } }

.confetti-22 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 25%;
  opacity: 1.36217;
  transform: rotate(54.03851deg);
  animation: drop-22 4.88015s 0.2012s infinite; }

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 28%; } }

.confetti-23 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 57%;
  opacity: 1.39727;
  transform: rotate(195.39365deg);
  animation: drop-23 4.56563s 0.05798s infinite; }

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 69%; } }

.confetti-24 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 1.3693;
  transform: rotate(131.97964deg);
  animation: drop-24 4.83699s 0.71177s infinite; }

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 40%; } }

.confetti-25 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 1.3724;
  transform: rotate(32.79157deg);
  animation: drop-25 4.0621s 0.43432s infinite; }

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 46%; } }

.confetti-26 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 88%;
  opacity: 1.48266;
  transform: rotate(356.36774deg);
  animation: drop-26 4.3268s 0.94681s infinite; }

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 93%; } }

.confetti-27 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 43%;
  opacity: 1.1284;
  transform: rotate(44.32586deg);
  animation: drop-27 4.13658s 0.08189s infinite; }

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 48%; } }

.confetti-28 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 81%;
  opacity: 0.66835;
  transform: rotate(344.62211deg);
  animation: drop-28 4.95443s 0.57626s infinite; }

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 89%; } }

.confetti-29 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 1.4701;
  transform: rotate(80.30448deg);
  animation: drop-29 4.74382s 0.20129s infinite; }

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 69%; } }

.confetti-30 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 34%;
  opacity: 0.87545;
  transform: rotate(297.1063deg);
  animation: drop-30 4.08257s 0.50589s infinite; }

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 36%; } }

.confetti-31 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 16%;
  opacity: 0.83282;
  transform: rotate(328.9715deg);
  animation: drop-31 4.3857s 0.71744s infinite; }

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 23%; } }

.confetti-32 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 2%;
  opacity: 0.74457;
  transform: rotate(309.77404deg);
  animation: drop-32 4.5234s 0.5434s infinite; }

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 4%; } }

.confetti-33 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 64%;
  opacity: 1.14168;
  transform: rotate(270.12108deg);
  animation: drop-33 4.4122s 0.16684s infinite; }

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 73%; } }

.confetti-34 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 49%;
  opacity: 1.02284;
  transform: rotate(112.15188deg);
  animation: drop-34 4.4801s 0.5642s infinite; }

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 50%; } }

.confetti-35 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 6%;
  opacity: 0.57207;
  transform: rotate(359.50097deg);
  animation: drop-35 4.3461s 0.1302s infinite; }

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 9%; } }

.confetti-36 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 60%;
  opacity: 0.59878;
  transform: rotate(142.96382deg);
  animation: drop-36 4.11268s 0.82434s infinite; }

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 68%; } }

.confetti-37 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.71204;
  transform: rotate(46.19469deg);
  animation: drop-37 4.55214s 0.95456s infinite; }

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 94%; } }

.confetti-38 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 0.83024;
  transform: rotate(168.07614deg);
  animation: drop-38 4.53526s 0.94798s infinite; }

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 109%; } }

.confetti-39 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 63%;
  opacity: 0.75774;
  transform: rotate(331.44966deg);
  animation: drop-39 4.85856s 0.09342s infinite; }

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 71%; } }

.confetti-40 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 90%;
  opacity: 0.99421;
  transform: rotate(72.81507deg);
  animation: drop-40 4.73051s 0.27085s infinite; }

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 93%; } }

.confetti-41 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 67%;
  opacity: 0.60369;
  transform: rotate(306.81568deg);
  animation: drop-41 4.40392s 0.30765s infinite; }

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 69%; } }

.confetti-42 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 14%;
  opacity: 1.12621;
  transform: rotate(243.48102deg);
  animation: drop-42 4.18699s 0.68236s infinite; }

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 24%; } }

.confetti-43 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 0.84062;
  transform: rotate(255.11807deg);
  animation: drop-43 4.05796s 0.52101s infinite; }

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 35%; } }

.confetti-44 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 70%;
  opacity: 1.31415;
  transform: rotate(294.04341deg);
  animation: drop-44 4.57491s 0.20555s infinite; }

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 81%; } }

.confetti-45 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 3%;
  opacity: 0.58521;
  transform: rotate(155.24875deg);
  animation: drop-45 4.09594s 0.90415s infinite; }

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 11%; } }

.confetti-46 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 0.68738;
  transform: rotate(60.85817deg);
  animation: drop-46 4.24631s 0.67121s infinite; }

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 50%; } }

.confetti-47 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 9%;
  opacity: 0.95626;
  transform: rotate(118.00222deg);
  animation: drop-47 4.72149s 0.44374s infinite; }

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 17%; } }

.confetti-48 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 0.97281;
  transform: rotate(236.4834deg);
  animation: drop-48 4.55926s 0.9729s infinite; }

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 59%; } }

.confetti-49 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 72%;
  opacity: 0.85435;
  transform: rotate(101.17352deg);
  animation: drop-49 4.95295s 0.37149s infinite; }

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 83%; } }

.confetti-50 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 62%;
  opacity: 0.79934;
  transform: rotate(231.29642deg);
  animation: drop-50 4.14878s 0.53129s infinite; }

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 67%; } }

.confetti-51 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 1.03976;
  transform: rotate(349.80567deg);
  animation: drop-51 4.74711s 0.04323s infinite; }

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 90%; } }

.confetti-52 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 1.361;
  transform: rotate(70.27433deg);
  animation: drop-52 4.67549s 0.70608s infinite; }

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 21%; } }

.confetti-53 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 91%;
  opacity: 0.75785;
  transform: rotate(253.43342deg);
  animation: drop-53 4.85019s 0.17871s infinite; }

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 104%; } }

.confetti-54 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 1.07529;
  transform: rotate(267.72124deg);
  animation: drop-54 4.66441s 0.97909s infinite; }

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 114%; } }

.confetti-55 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 0.57761;
  transform: rotate(45.14361deg);
  animation: drop-55 4.25042s 0.9584s infinite; }

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 101%; } }

.confetti-56 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 92%;
  opacity: 1.09667;
  transform: rotate(7.77023deg);
  animation: drop-56 4.52142s 0.76083s infinite; }

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 107%; } }

.confetti-57 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 1.42556;
  transform: rotate(255.31556deg);
  animation: drop-57 4.84051s 0.62331s infinite; }

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 34%; } }

.confetti-58 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 80%;
  opacity: 1.06387;
  transform: rotate(45.99048deg);
  animation: drop-58 4.14967s 0.25632s infinite; }

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 81%; } }

.confetti-59 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 94%;
  opacity: 0.82295;
  transform: rotate(355.75359deg);
  animation: drop-59 4.40616s 0.70991s infinite; }

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 96%; } }

.confetti-60 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 1%;
  opacity: 0.51582;
  transform: rotate(69.39034deg);
  animation: drop-60 4.70467s 0.94305s infinite; }

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 6%; } }

.confetti-61 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 34%;
  opacity: 1.36768;
  transform: rotate(176.19945deg);
  animation: drop-61 4.45263s 0.20111s infinite; }

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 42%; } }

.confetti-62 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 31%;
  opacity: 1.0477;
  transform: rotate(31.83481deg);
  animation: drop-62 4.11336s 0.49512s infinite; }

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 33%; } }

.confetti-63 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 41%;
  opacity: 1.1207;
  transform: rotate(338.43856deg);
  animation: drop-63 4.36512s 0.64837s infinite; }

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 50%; } }

.confetti-64 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 21%;
  opacity: 1.37605;
  transform: rotate(221.1295deg);
  animation: drop-64 4.3188s 0.76545s infinite; }

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 25%; } }

.confetti-65 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 31%;
  opacity: 1.1005;
  transform: rotate(169.48264deg);
  animation: drop-65 4.93656s 0.14618s infinite; }

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 34%; } }

.confetti-66 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 50%;
  opacity: 0.87921;
  transform: rotate(343.76741deg);
  animation: drop-66 4.35283s 0.31251s infinite; }

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 65%; } }

.confetti-67 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 79%;
  opacity: 1.30363;
  transform: rotate(296.67423deg);
  animation: drop-67 4.62125s 0.26698s infinite; }

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 86%; } }

.confetti-68 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 0.73263;
  transform: rotate(301.95078deg);
  animation: drop-68 4.55596s 0.75321s infinite; }

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 110%; } }

.confetti-69 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 15%;
  opacity: 0.63829;
  transform: rotate(228.61344deg);
  animation: drop-69 4.70704s 0.41102s infinite; }

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 24%; } }

.confetti-70 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 0.54755;
  transform: rotate(84.2762deg);
  animation: drop-70 4.75985s 0.62617s infinite; }

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 103%; } }

.confetti-71 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 38%;
  opacity: 1.15151;
  transform: rotate(76.65556deg);
  animation: drop-71 4.90194s 0.77389s infinite; }

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 41%; } }

.confetti-72 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 0.92224;
  transform: rotate(319.45634deg);
  animation: drop-72 4.89721s 0.30632s infinite; }

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 59%; } }

.confetti-73 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 71%;
  opacity: 1.30471;
  transform: rotate(112.13816deg);
  animation: drop-73 4.78802s 0.02847s infinite; }

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 82%; } }

.confetti-74 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 69%;
  opacity: 0.69906;
  transform: rotate(149.46836deg);
  animation: drop-74 4.50212s 0.79721s infinite; }

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 72%; } }

.confetti-75 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.66453;
  transform: rotate(156.1662deg);
  animation: drop-75 4.23701s 0.66134s infinite; }

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 94%; } }

.confetti-76 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 1.16229;
  transform: rotate(18.42507deg);
  animation: drop-76 4.87373s 0.92185s infinite; }

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 16%; } }

.confetti-77 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 69%;
  opacity: 1.18804;
  transform: rotate(332.56995deg);
  animation: drop-77 4.49979s 0.53525s infinite; }

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 73%; } }

.confetti-78 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 0.55574;
  transform: rotate(242.44806deg);
  animation: drop-78 4.92857s 0.30886s infinite; }

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 61%; } }

.confetti-79 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 54%;
  opacity: 1.43846;
  transform: rotate(358.34969deg);
  animation: drop-79 4.69464s 0.96592s infinite; }

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 69%; } }

.confetti-80 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 0.98295;
  transform: rotate(219.80666deg);
  animation: drop-80 4.96037s 0.3598s infinite; }

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 37%; } }

.confetti-81 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 14%;
  opacity: 0.54024;
  transform: rotate(357.32346deg);
  animation: drop-81 4.82558s 0.49436s infinite; }

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 27%; } }

.confetti-82 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 40%;
  opacity: 1.46556;
  transform: rotate(102.77656deg);
  animation: drop-82 4.801s 0.56467s infinite; }

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 41%; } }

.confetti-83 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 0.55494;
  transform: rotate(26.29066deg);
  animation: drop-83 4.68952s 0.20261s infinite; }

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 7%; } }

.confetti-84 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 46%;
  opacity: 1.08827;
  transform: rotate(92.58078deg);
  animation: drop-84 4.72032s 0.91826s infinite; }

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 48%; } }

.confetti-85 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 62%;
  opacity: 0.85571;
  transform: rotate(304.68744deg);
  animation: drop-85 4.70903s 0.87051s infinite; }

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 69%; } }

.confetti-86 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 60%;
  opacity: 1.22587;
  transform: rotate(281.46486deg);
  animation: drop-86 4.06891s 0.49342s infinite; }

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 62%; } }

.confetti-87 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 44%;
  opacity: 0.92935;
  transform: rotate(307.44517deg);
  animation: drop-87 4.85655s 0.02248s infinite; }

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 57%; } }

.confetti-88 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 1.34961;
  transform: rotate(42.28603deg);
  animation: drop-88 4.25545s 0.19229s infinite; }

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 78%; } }

.confetti-89 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 52%;
  opacity: 0.61891;
  transform: rotate(239.74478deg);
  animation: drop-89 4.22041s 0.29869s infinite; }

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 54%; } }

.confetti-90 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 35%;
  opacity: 1.10844;
  transform: rotate(321.58729deg);
  animation: drop-90 4.72011s 0.97607s infinite; }

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 36%; } }

.confetti-91 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 77%;
  opacity: 1.21851;
  transform: rotate(255.32081deg);
  animation: drop-91 4.487s 0.86327s infinite; }

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 91%; } }

.confetti-92 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 91%;
  opacity: 0.5788;
  transform: rotate(280.94537deg);
  animation: drop-92 4.94823s 0.47131s infinite; }

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 97%; } }

.confetti-93 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 78%;
  opacity: 1.02979;
  transform: rotate(116.51039deg);
  animation: drop-93 4.64131s 0.28575s infinite; }

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 85%; } }

.confetti-94 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 1.12301;
  transform: rotate(116.2804deg);
  animation: drop-94 4.25067s 0.39168s infinite; }

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 17%; } }

.confetti-95 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 1.42478;
  transform: rotate(27.5846deg);
  animation: drop-95 4.59698s 0.80214s infinite; }

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 99%; } }

.confetti-96 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 23%;
  opacity: 0.95256;
  transform: rotate(214.2415deg);
  animation: drop-96 4.36224s 0.364s infinite; }

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 29%; } }

.confetti-97 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 19%;
  opacity: 1.46956;
  transform: rotate(112.73667deg);
  animation: drop-97 4.36767s 0.54823s infinite; }

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 21%; } }

.confetti-98 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 18%;
  opacity: 0.84018;
  transform: rotate(250.01695deg);
  animation: drop-98 4.15309s 0.33968s infinite; }

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 30%; } }

.confetti-99 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 61%;
  opacity: 1.48656;
  transform: rotate(64.17765deg);
  animation: drop-99 4.50928s 0.77507s infinite; }

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 63%; } }

.confetti-100 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 97%;
  opacity: 1.12649;
  transform: rotate(116.22335deg);
  animation: drop-100 4.41428s 0.50378s infinite; }

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 106%; } }

.confetti-101 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 4%;
  opacity: 1.45664;
  transform: rotate(284.21523deg);
  animation: drop-101 4.74264s 0.82558s infinite; }

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 18%; } }

.confetti-102 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 53%;
  opacity: 0.88129;
  transform: rotate(76.22894deg);
  animation: drop-102 4.20616s 0.26545s infinite; }

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 56%; } }

.confetti-103 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 59%;
  opacity: 1.4857;
  transform: rotate(310.40839deg);
  animation: drop-103 4.79493s 0.33782s infinite; }

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 67%; } }

.confetti-104 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 98%;
  opacity: 0.68703;
  transform: rotate(117.79807deg);
  animation: drop-104 4.92911s 0.58727s infinite; }

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 101%; } }

.confetti-105 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 50%;
  opacity: 0.78076;
  transform: rotate(321.49496deg);
  animation: drop-105 4.38045s 0.396s infinite; }

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 59%; } }

.confetti-106 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 35%;
  opacity: 0.60254;
  transform: rotate(178.49672deg);
  animation: drop-106 4.60904s 0.76087s infinite; }

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 38%; } }

.confetti-107 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 63%;
  opacity: 1.07605;
  transform: rotate(194.61226deg);
  animation: drop-107 4.38529s 0.39025s infinite; }

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 68%; } }

.confetti-108 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 46%;
  opacity: 0.55053;
  transform: rotate(247.25948deg);
  animation: drop-108 4.69373s 0.29509s infinite; }

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 54%; } }

.confetti-109 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 63%;
  opacity: 1.0227;
  transform: rotate(125.29277deg);
  animation: drop-109 4.08743s 0.82534s infinite; }

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 73%; } }

.confetti-110 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 9%;
  opacity: 0.50063;
  transform: rotate(346.8704deg);
  animation: drop-110 4.88923s 0.73613s infinite; }

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 20%; } }

.confetti-111 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 79%;
  opacity: 1.33489;
  transform: rotate(353.51233deg);
  animation: drop-111 4.61165s 0.08806s infinite; }

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 83%; } }

.confetti-112 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 54%;
  opacity: 1.25412;
  transform: rotate(323.3351deg);
  animation: drop-112 4.61793s 0.6247s infinite; }

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 55%; } }

.confetti-113 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 51%;
  opacity: 1.16936;
  transform: rotate(234.70051deg);
  animation: drop-113 4.70343s 0.46222s infinite; }

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 56%; } }

.confetti-114 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 0.97899;
  transform: rotate(56.00847deg);
  animation: drop-114 4.70572s 0.26283s infinite; }

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 13%; } }

.confetti-115 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 1.45421;
  transform: rotate(184.68546deg);
  animation: drop-115 4.45042s 0.29136s infinite; }

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 107%; } }

.confetti-116 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 0.50333;
  transform: rotate(200.31337deg);
  animation: drop-116 4.98623s 0.47447s infinite; }

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 35%; } }

.confetti-117 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 26%;
  opacity: 1.04922;
  transform: rotate(77.95299deg);
  animation: drop-117 4.09747s 0.88142s infinite; }

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 31%; } }

.confetti-118 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 50%;
  opacity: 1.42214;
  transform: rotate(281.68859deg);
  animation: drop-118 4.14727s 0.85477s infinite; }

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 58%; } }

.confetti-119 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 52%;
  opacity: 1.31116;
  transform: rotate(153.9153deg);
  animation: drop-119 4.28551s 0.99443s infinite; }

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 59%; } }

.confetti-120 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 68%;
  opacity: 1.08808;
  transform: rotate(195.03381deg);
  animation: drop-120 4.20017s 0.99336s infinite; }

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 73%; } }

.confetti-121 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 58%;
  opacity: 0.91668;
  transform: rotate(333.39653deg);
  animation: drop-121 4.14967s 0.74077s infinite; }

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 72%; } }

.confetti-122 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 16%;
  opacity: 1.2673;
  transform: rotate(144.26261deg);
  animation: drop-122 4.15764s 0.65323s infinite; }

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 24%; } }

.confetti-123 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 45%;
  opacity: 1.46;
  transform: rotate(218.56959deg);
  animation: drop-123 4.86904s 0.55443s infinite; }

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 59%; } }

.confetti-124 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 28%;
  opacity: 0.77578;
  transform: rotate(335.76112deg);
  animation: drop-124 4.13143s 0.65861s infinite; }

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 39%; } }

.confetti-125 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 66%;
  opacity: 1.36572;
  transform: rotate(282.38429deg);
  animation: drop-125 4.28372s 0.56087s infinite; }

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 80%; } }

.confetti-126 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 0.50321;
  transform: rotate(88.78797deg);
  animation: drop-126 4.52329s 0.25615s infinite; }

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 63%; } }

.confetti-127 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 52%;
  opacity: 1.27766;
  transform: rotate(312.74881deg);
  animation: drop-127 4.09475s 0.54683s infinite; }

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 64%; } }

.confetti-128 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 9%;
  opacity: 0.80949;
  transform: rotate(339.76631deg);
  animation: drop-128 4.22727s 0.10933s infinite; }

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 23%; } }

.confetti-129 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 43%;
  opacity: 0.59717;
  transform: rotate(71.51382deg);
  animation: drop-129 4.14009s 0.00985s infinite; }

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 55%; } }

.confetti-130 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 98%;
  opacity: 1.40083;
  transform: rotate(16.61321deg);
  animation: drop-130 4.60385s 0.8933s infinite; }

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 100%; } }

.confetti-131 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 58%;
  opacity: 0.77863;
  transform: rotate(306.23052deg);
  animation: drop-131 4.35533s 0.36946s infinite; }

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 73%; } }

.confetti-132 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 0.98883;
  transform: rotate(216.42613deg);
  animation: drop-132 4.51234s 0.31002s infinite; }

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 79%; } }

.confetti-133 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 9%;
  opacity: 0.7287;
  transform: rotate(235.00809deg);
  animation: drop-133 4.67982s 0.33443s infinite; }

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 21%; } }

.confetti-134 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 48%;
  opacity: 1.00985;
  transform: rotate(328.33055deg);
  animation: drop-134 4.31162s 0.7977s infinite; }

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 62%; } }

.confetti-135 {
  position: absolute;
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 38%;
  opacity: 0.55534;
  transform: rotate(180.5105deg);
  animation: drop-135 4.66196s 0.38479s infinite; }

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 44%; } }

.confetti-136 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 56%;
  opacity: 1.27123;
  transform: rotate(59.21541deg);
  animation: drop-136 4.7525s 0.6208s infinite; }

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 68%; } }

.confetti-137 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 60%;
  opacity: 0.9874;
  transform: rotate(191.2529deg);
  animation: drop-137 4.04374s 0.86943s infinite; }

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 69%; } }

.confetti-138 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 92%;
  opacity: 1.42138;
  transform: rotate(105.95341deg);
  animation: drop-138 4.76468s 0.65243s infinite; }

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 102%; } }

.confetti-139 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 97%;
  opacity: 0.70305;
  transform: rotate(99.09524deg);
  animation: drop-139 4.28045s 0.06875s infinite; }

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 101%; } }

.confetti-140 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 57%;
  opacity: 1.44284;
  transform: rotate(253.25614deg);
  animation: drop-140 4.40776s 0.62899s infinite; }

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 60%; } }

.confetti-141 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 73%;
  opacity: 0.74401;
  transform: rotate(123.66595deg);
  animation: drop-141 4.7933s 0.92226s infinite; }

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 88%; } }

.confetti-142 {
  position: absolute;
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 1.24067;
  transform: rotate(217.09978deg);
  animation: drop-142 4.9941s 0.61832s infinite; }

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 45%; } }

.confetti-143 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 72%;
  opacity: 0.58816;
  transform: rotate(260.98379deg);
  animation: drop-143 4.62257s 0.548s infinite; }

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 81%; } }

.confetti-144 {
  position: absolute;
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 56%;
  opacity: 1.03128;
  transform: rotate(20.62812deg);
  animation: drop-144 4.03844s 0.40546s infinite; }

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 60%; } }

.confetti-145 {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 19%;
  opacity: 0.57674;
  transform: rotate(27.32024deg);
  animation: drop-145 4.68101s 0.86289s infinite; }

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 27%; } }

.confetti-146 {
  position: absolute;
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 58%;
  opacity: 1.04479;
  transform: rotate(4.46111deg);
  animation: drop-146 4.73834s 0.92299s infinite; }

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 72%; } }

.confetti-147 {
  position: absolute;
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 35%;
  opacity: 0.98337;
  transform: rotate(208.65941deg);
  animation: drop-147 4.73814s 0.38074s infinite; }

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 36%; } }

.confetti-148 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 92%;
  opacity: 0.57741;
  transform: rotate(297.89658deg);
  animation: drop-148 4.627s 0.75898s infinite; }

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 106%; } }

.confetti-149 {
  position: absolute;
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 72%;
  opacity: 0.7273;
  transform: rotate(48.84252deg);
  animation: drop-149 4.00332s 0.48132s infinite; }

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 85%; } }

.confetti-150 {
  position: absolute;
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 53%;
  opacity: 1.42325;
  transform: rotate(77.68261deg);
  animation: drop-150 4.09143s 0.88095s infinite; }

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 60%; } }
