@import "./constants.scss";

.help-dialog-button {
  width: 56px;
  height: 56px;
  background-color: var(--action-highlight);
  border-radius: 50%;
  cursor: pointer;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 32px 32px 0;
  font-size: 40px;
  color: black;

  &.hide {
    display: none;
  }

  @media (min-width: $breakpointMedium) {
    top: 50px;
    right: 70px;
  }
}

.help-dialog {
  @media (max-width: $breakpointMedium) {
    position: fixed;
  }
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  padding: 52px 25px;
  display: flex;
  flex-direction: column;
}

.help-dialog-content {
  position: relative;
  background-color: var(--action-highlight);
  border-radius: 12px;
  flex: 1;
  padding: 32px 28px;
  color: black;
  // font-family: "Open Sans Condensed", sans-serif;
  // font-weight: 300;
  // font-size: 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;

  line-height: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  overflow: auto;

  @media (min-width: $breakpointMedium) {
    margin-top: 50px;
  }

  b {
    font-weight: 300;
    text-decoration: underline;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    > *:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  h3 {
    color: black;
  }
}

.correct:before {
  content: "\2713";
  display: inline-block;
  padding: 0 6px 0 0;
}

.incorrect:before {
  content: "\2716	";
  display: inline-block;
  padding: 0 6px 0 0;
}

.examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.bottom {
  align-self: flex-end;
}

.help-dialog-container .header {
  @media (min-width: $breakpointMedium + 1) {
    display: none;
  }
}
