.help-dialog-button {
  width: 56px;
  height: 56px;
  background-color: var(--action-highlight);
  border-radius: 50%;
  cursor: pointer;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 32px 32px 0;
  font-size: 40px;
  color: black; }
  .help-dialog-button.hide {
    display: none; }
  @media (min-width: 860px) {
    .help-dialog-button {
      top: 50px;
      right: 70px; } }

.help-dialog {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  padding: 52px 25px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 860px) {
    .help-dialog {
      position: fixed; } }

.help-dialog-content {
  position: relative;
  background-color: var(--action-highlight);
  border-radius: 12px;
  flex: 1;
  padding: 32px 28px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto; }
  @media (min-width: 860px) {
    .help-dialog-content {
      margin-top: 50px; } }
  .help-dialog-content b {
    font-weight: 300;
    text-decoration: underline; }
  .help-dialog-content > div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .help-dialog-content > div > *:not(:last-child) {
      margin-bottom: 1em; }
  .help-dialog-content h3 {
    color: black; }

.correct:before {
  content: "\2713";
  display: inline-block;
  padding: 0 6px 0 0; }

.incorrect:before {
  content: "\2716	";
  display: inline-block;
  padding: 0 6px 0 0; }

.examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px; }

.bottom {
  align-self: flex-end; }

@media (min-width: 861px) {
  .help-dialog-container .header {
    display: none; } }
