.header {
  margin-bottom: 70px; }

.invite-to-game {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  margin-bottom: 32px;
  background-color: var(--background-overlay-secondary);
  width: 450px;
  max-width: 100%; }
  @media (min-width: 860px) {
    .invite-to-game {
      max-width: 500px;
      padding: 40px 40px; } }
  .invite-to-game h1 {
    margin: 0; }

.start-game {
  width: 250px;
  height: 60px;
  margin-top: 0;
  background-color: transparent; }
  .start-game:not(:disabled) {
    border: 2px solid var(--action-primary);
    color: var(--action-primary); }
    .start-game:not(:disabled):hover {
      background-color: transparent;
      color: var(--action-secondary);
      border: 2px solid var(--action-secondary); }
