.page-container {
  padding: 52px 25px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative; }
  @media (max-width: var(800px)) {
    .page-container {
      flex-direction: column;
      align-items: center; } }

.title {
  font-family: "Bangers", cursive;
  font-size: 32px;
  margin: 8px 12px 40px 12px; }

.confetti-large {
  font-size: 32px; }
