@import "./constants.scss";

.start-game-container {
  padding: 52px 25px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confetti {
  font-size: 28px;
}

.mirrored {
  display: inline-block;
  transform: scaleX(-1);
}

.pre-title {
  font-size: 18px;
  margin: 0 4px;
}

.title-large {
  font-family: "Bangers", cursive;
  font-size: 48px;
  margin: 8px 0 40px 0;
}

.create-btn {
  width: 327px;
  height: 170px;

  background: #a2f294;
  color: black;
  font-size: 32px;
  font-family: Bebas Neue;
  text-transform: uppercase;
  border-radius: 12px;

  --line-color: #a2f294;
  background: linear-gradient(135deg, var(--line-color) 25%, transparent 25%) -150px
      0,
    linear-gradient(225deg, var(--line-color) 25%, transparent 25%) -150px 0,
    linear-gradient(315deg, var(--line-color) 25%, transparent 25%),
    linear-gradient(45deg, var(--line-color) 25%, transparent 25%);
  background-size: 20px 30px;
  background-color: var(--action-primary);

  &:hover {
    background: none;
    --hover-line-color: #ffbdf4;
    background: linear-gradient(
          135deg,
          var(--hover-line-color) 25%,
          transparent 25%
        ) -150px 0,
      linear-gradient(225deg, var(--hover-line-color) 25%, transparent 25%) -150px
        0,
      linear-gradient(315deg, var(--hover-line-color) 25%, transparent 25%),
      linear-gradient(45deg, var(--hover-line-color) 25%, transparent 25%);
    background-color: #ffd0f8;
    cursor: pointer;
  }
}

.or {
  font-size: 40px;
  line-height: 40px;

  letter-spacing: 0.1px;
  margin: 8px 0;

  color: rgba(255, 255, 255, 0.5);
}

.join {
  width: 327px;
  height: 219px;
  background: var(--text-overlay);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 16px 0;
  h2 {
    margin: 0;
  }
  input {
    min-width: 230px;
    font-family: "Roboto", sans-serif;
  }
}

.error {
  color: salmon;
  margin: 0;
}

.start-wrapper {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr;
  align-self: stretch;

  min-height: 0;
  min-width: 0; /* new; needed for FF */

  width: 100%;
  @media (min-width: $breakpointMedium) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpointLarge) {
    grid-template-columns: 500px 500px;
    justify-content: center;
  }
}

.title-how-to-play {
  @media (min-width: $breakpointMedium) {
    display: none;
  }
}

.how-to-play {
  padding: 52px 25px;
  justify-self: stretch;
  align-self: center;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  box-sizing: border-box;

  overflow: hidden;
  min-width: 0; /* new; needed for FF */

  margin-top: 0px;

  @media (min-width: $breakpointMedium) {
    margin-top: 60px;
    width: 450px;
    max-width: 500px;
  }

  > div:not(.show):not(.bars) {
    display: none;
  }

  .show {
    img {
    }
    h3 {
      color: white;
      font-size: xx-large;
      color: var(--action-secondary);
      margin-top: 10px;
    }

    p {
      font-family: "Hind", sans-serif;
      height: 100px;
    }
  }

  .title-how-to-play-inside {
    color: var(--action-highlight);
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 30px;
    @media (max-width: $breakpointMedium) {
      display: none;
    }
  }
}

.bars {
  display: flex;
  gap: 8px;
  width: 100%;
  height: 6px;
  justify-content: center;
  flex-wrap: wrap;

  div:not(.animate) {
    animation: none;
    opacity: 0.3;
    border-radius: 12px;
  }
  div {
    // because there is 6 bars
    width: 14%;
    border-radius: 12px;
    max-width: 50px;
    background-color: white;
    animation: barWidth 5s ease-in-out infinite;
  }
}

@keyframes barWidth {
  0% {
    opacity: 0.3;
    background-color: white;
  }

  20% {
    opacity: 1;
    background-color: var(--action-secondary);
  }

  80% {
    opacity: 1;
    background-color: var(--action-secondary);
  }

  100% {
    opacity: 0.3;
    background-color: white;
  }
}
