.start-game-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  @media (min-width: 860px) {
    .start-game-container {
      padding: 52px 25px; } }

.confetti {
  font-size: 28px; }

.mirrored {
  display: inline-block;
  transform: scaleX(-1); }

.pre-title {
  font-size: 18px;
  margin: 0 4px; }

.title-large {
  font-family: "Bangers", cursive;
  font-size: 48px;
  margin: 8px 0 40px 0; }

.create-btn {
  align-self: stretch;
  height: 80px;
  background: #a2f294;
  color: var(--background-color);
  font-size: 32px;
  font-family: Bebas Neue;
  text-transform: uppercase;
  border-radius: 360px;
  --line-color: #a2f294;
  background: linear-gradient(135deg, var(--line-color) 25%, transparent 25%) -150px 0, linear-gradient(225deg, var(--line-color) 25%, transparent 25%) -150px 0, linear-gradient(315deg, var(--line-color) 25%, transparent 25%), linear-gradient(45deg, var(--line-color) 25%, transparent 25%);
  background-size: 20px 30px;
  background-color: var(--action-primary); }
  .create-btn:hover {
    background: none;
    --hover-line-color: #ffbdf4;
    background: linear-gradient(135deg, var(--hover-line-color) 25%, transparent 25%) -150px 0, linear-gradient(225deg, var(--hover-line-color) 25%, transparent 25%) -150px 0, linear-gradient(315deg, var(--hover-line-color) 25%, transparent 25%), linear-gradient(45deg, var(--hover-line-color) 25%, transparent 25%);
    background-color: #ffd0f8;
    cursor: pointer; }

.or {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.1px;
  margin: 8px 0;
  color: rgba(255, 255, 255, 0.5); }

.join {
  width: 327px;
  height: 219px;
  background: var(--text-overlay);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0; }
  .join h2 {
    margin: 0; }
  .join input {
    min-width: 230px;
    font-family: "Roboto", sans-serif; }

.error {
  color: salmon;
  margin: 0; }

.how-to-play {
  padding: 16px 16px;
  justify-self: stretch;
  align-self: center;
  display: flex;
  flex-direction: column;
  background: var(--background-overlay-secondary);
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 0;
  /* new; needed for FF */
  margin-top: 0px; }
  @media (min-width: 860px) {
    .how-to-play {
      width: 450px;
      max-width: 500px;
      padding: 40px 40px; } }
  .how-to-play > div:not(.show):not(.bars) {
    display: none; }
  .how-to-play .show img {
    width: 360px;
    max-width: 100%;
    align-self: center; }
  .how-to-play .show h3 {
    color: white;
    font-size: xx-large;
    color: var(--action-secondary);
    margin-top: 24px;
    margin-bottom: 0; }
  .how-to-play .show p {
    font-family: "Hind", sans-serif;
    height: 70px; }

.bars {
  margin-bottom: 40px;
  display: flex;
  gap: 8px;
  width: 100%;
  height: 8px;
  justify-content: center;
  flex-wrap: wrap; }
  .bars div:not(.animate) {
    animation: none;
    opacity: 0.3;
    border-radius: 12px; }
  .bars div {
    width: 14%;
    border-radius: 12px;
    max-width: 8px;
    background-color: white;
    animation: barWidth 5s ease-in-out infinite; }

@keyframes barWidth {
  0% {
    opacity: 0.3;
    background-color: white; }
  20% {
    opacity: 1;
    background-color: var(--action-secondary); }
  80% {
    opacity: 1;
    background-color: var(--action-secondary); }
  100% {
    opacity: 0.3;
    background-color: white; } }
