@import url(lobby.css);
@import url(game.css);
@import url(./Views/start.css);
@import url(./Views/page-layout.css);
@import url(./Views/name-input.css);
@import url(./Views/adding-words.css);
@import url(./Views/Playing/playing.css);
@import url(./Views/finished-game.css);
@import url(./Views/Playing/end-of-round.css);
@import url(./Views/help.css);
/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit; }

:root {
  --background-color: #161449;
  --background-overlay: rgb(255 255 255 / 5%);
  --background-secondary: #f9df9d;
  --text-overlay: rgba(255, 255, 255, 0.25);
  --text-secondary: rgba(0, 0, 0, 0.5);
  --action-primary: #aaf99d;
  --action-secondary: #ffd0f8;
  --action-highlight: #9df3f9; }

body {
  font-family: "Bebas Neue", "Source Sans Pro", "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: white;
  box-sizing: border-box; }

h1 {
  font-size: 30px; }

img {
  margin: 20px 0;
  max-width: 200px; }

input {
  height: 50px;
  background: white;
  border-radius: 4px;
  border: none;
  min-width: 230px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 22px;
  font-family: Bebas Neue; }

button {
  padding: 10px 50px;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--action-primary);
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 22px;
  font-family: Bebas Neue;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button:hover {
    background-color: var(--action-secondary); }
  button.disabled {
    background-color: var(--text-overlay); }

h3 {
  color: rgba(255, 255, 255, 0.5); }
